.mat-tab-group {
  margin-bottom: 48px;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-content {
  width: auto;
  height: 70%;
}

.toolbar-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.center-container {
  max-width: 40%;
  margin: 2em auto;
  align-items: center;
  justify-content: center;

}
.container {
  text-align: center;
  align-items: center;
  justify-content: space-between;

}
.input {
  width: calc(100% - 8px);
  margin-right: 8px;
  }

