.center-container {
  max-width: 40%;
  margin: 2em auto;
  align-items: center;
  justify-content: center;

}
.container {
  text-align: center;
  align-items: center;
  margin: 30px;
  justify-content: space-between;

}
.input{
  width: 100%;
}






