/* CSS */
.sidenavbar-consultas {
  height: 100vh;
}

.sidenav-menu {
  background-color: #3F51B5;
  width: 200px;
}

.custom-list-item {
  text-align: center;
}

.custom-list-item a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 16px;
}
