<mat-sidenav-container class="sidenavbar-consultas">
    <mat-sidenav class="sidenav-menu" mode="side" opened>
        <mat-nav-list>
            <mat-list-item class="custom-list-item">
                <a routerLink="/cadastro">Perfil</a>
            </mat-list-item>
            <mat-list-item class="custom-list-item">
                <a routerLink="/home">Consultas</a>
            </mat-list-item>     
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Conteúdo da página aqui -->
    </mat-sidenav-content>
</mat-sidenav-container>
