<!-- <div class="container">
    <div class="content">
    <nav class="sidenav">
        <ul>
            <li class="custom-list-item">
                <a [routerLink]="['consultas', '/formTecnico', tipoUsuario]">Perfil</a>
            </li>
            <li class="custom-list-item">
                <a href="/tabtec">Consultas</a>
            </li>
        </ul>
    </nav>
    <main class="main-content">
        <mat-card>
            <mat-toolbar>Meus dados:</mat-toolbar>
            Nome: {{ tecnicoEncontrado.nome }}
        </mat-card>


    <router-outlet></router-outlet>
    </main>
</div>
</div> -->
